Thumbs.db
.DS_Store
.gradle
build/
target/
out/
.idea
*.iml
*.ipr
*.iws
.project
.settings
.classpath
.factorypath
private-notes.txt
/src/main/resources/application-dev.yml
/src/test/resources/application.yml
